@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply scroll-smooth bg-slate-900 font-sans text-slate-400 antialiased;
  }

  a {
    @apply underline transition-colors duration-200 hover:text-slate-200 focus:text-slate-200;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  pre {
    tab-size: 2;
    hyphens: none;
  }
  pre > code {
    @apply block w-max;
  }
}

#root > header + * {
  @apply flex-1;
}

pre.shiki {
  @apply overflow-auto whitespace-pre rounded-xl py-3 px-4 text-sm lg:text-base;
}

.code-line-highlight {
  @apply border-code-accent bg-code-highlight -ml-4 border-l-[3px] px-4 py-1;
}
